:root {
  --main-gray: #f4f2ed33;
  --dark-gray: rgba(244, 242, 237, 0.158);
}

html,
body {
  padding: 0;
  margin: 0;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.hover-zoom,
.card-zoom {
  transition: all 0.4s;
}

.hover-zoom:hover {
  transform: scale(1.15);
}

.card-zoom:hover {
  transform: scale(1.05);
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 520px) {
  .about {
    text-align: center;
  }
}

.gray-bg {
  background-color: lightgray;
}

.dark-gray {
  background-color: var(--dark-gray);
}

.font-12 {
  font-size: 12px;
}
